#atuacao{
	padding: 20px 0px;
	.atuacao-text{
	
		.main-a{
	    	color: #021a24;
		    font-family: 'Roboto', sans-serif;
		    font-size: 33px;
		}

		.sub{
		    color: #9b9b9b;
		    font-size: 16px;
		    font-weight: 300;
		    margin-top: 10px;
		    margin-bottom: 15px;
		    font-family: 'Roboto', sans-serif;
		}
	}
	span{
		color: #337d84;
		.checkIconTexto{
			font-family: 'Roboto', sans-serif;
			color:#000;
		}
	}

	.img-atuacao{
	    max-height: 550px;
	    width: 50%;
	    margin-bottom: -20px;
	    margin-top: -150px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    @media screen and (max-width: 1180px) {
	    	display: none;
	    }
	}
}

.hide-1180{
	@media screen and (max-width: 1180px) {
	    	display: none;
	    }
}

