#clientes{
	margin-bottom: 60px;
	height: 45vh;
	padding-bottom: 10px ;

	.descricao{
		color: #9b9b9b;
	    width: 65%;
	    font-size: 13px;
	    margin: 0 auto;
	    font-family: 'Montserrat', sans-serif;
	}
	.main-text{

		.main{
	    	color: #021a24;
		    font-family: 'Roboto', sans-serif;
		    font-size: 33px;
		}

		.sub{
		    color: #9b9b9b;
		    max-width: 600px;
		    font-size: 16px;
		    font-weight: 300;
		    margin-top: 10px;
		    margin-bottom: 20px;
		    font-family: 'Roboto', sans-serif;
		}
	}

	.img-set{
		width: auto;
	    height: 65px;
	    display: block;
	    margin: 60px auto;

	}
}