
.contatoForm {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    label {
	    color: #ccc;
	}
	 button {
	    background-color: #337d84;
	    width: 150px;
	}
}


.contato {
    text-align: center; height: 40px; width: 200px;  margin: 0 auto;
}

// .contato h3 {
//     font-size: 15px; color: #337d84; font-weight: bold;
// }

#contatoInfo{
		margin:23px 0;

		.contato {
			margin-left: -15px;
			span {
			    font-family: 'Lato', sans-serif;
			    margin-top: 10px;
			     color: #337d84;
			     margin-left: 10px;
			 }
		}

		 .linha { 
		    border-bottom: 1px solid #0f343d;
		    height: 60px;
		    margin-bottom: 10px;
		}

		span{

				color: #7a7777; 
			    font-size: 13px; 
			    margin-top: 10px
		}

		.telefone {
			span {
		    font-family: 'Lato', sans-serif;
		     margin-top: 10px;
		     margin-left: 10px;
		 	}
		}

		 .local {
		 	span {
		    font-family: 'Lato', sans-serif;
		     margin-top: 10px;
		     margin-left: 10px;
		 	}
		 }
	}