.footer{
	margin-top: 20px;
	.m-top{
		margin: 50px 0;
	}
   background-color: #021a24;
   padding: 20px 0; 
   font-family: 'Lato', sans-serif;
   span{
   	color: #337d84;
   }
   p{
   	color: #7a7777; 
    font-size: 12px; 
    margin-top: 10px;
   }
   .saiba-text{
   	color: #fff!important;
   }



   a {
   		color: #337d84; 
    	font-size: 12px;
      	text-decoration: none;
	}
	#footerFaleConosco {

		.form-group {
		     margin-top: 10px; 
		     margin-bottom: 2px;
		}

		.area {
		     
		     height: 75px !important;
		     resize: none; 
		     border-radius: 1px; 
		     background-color: #868686; 
		     border: none; 
		     color: white;
		 }

		.btn-footer{
		    margin-top: 10px;
		    background-color: #337d84; 
		    border: none; 
		    color: white;
		    width: 100px;
		}

		.form-control {
		   
		    height: 35px; 
		    border-radius: 1px;  
		    background-color: #868686; 
		    border: none; 
		    color: white;
		 }

	}

	#footerLocal{
		
		.contato {
			margin-left: -15px;
			span {
			    font-family: 'Lato', sans-serif;
			    margin-top: 10px;
			     color: #337d84;
			     margin-left: 10px;
			 }
		}

		 .linha { 
		    border-bottom: 1px solid #0f343d;
		    height: 60px;
		    margin-bottom: 10px;
		}

		span{

				color: #7a7777; 
			    font-size: 13px; 
			    margin-top: 10px
		}

		.telefone {
			span {
		    font-family: 'Lato', sans-serif;
		     margin-top: 10px;
		     margin-left: 10px;
		 	}
		}

		 .local {
		 	span {
		    font-family: 'Lato', sans-serif;
		     margin-top: 10px;
		     margin-left: 10px;
		 	}
		 }
	}
}
/*/



// #footerFaleConosco .form-group {
//     margin-top: 10px; 
//     margin-bottom: 2px;
// }

// #footerFaleConosco .area {
//     width: 70%; 
//     height: 70px !important;
//     resize: none; 
//     border-radius: 1px; 
//     background-color: #868686; 
//     border: none; 
//     color: white;
// }

// #footerFaleConosco .form-control {
//     width: 70%;  height: 25px; border-radius: 1px;  background-color: #868686; border: none; color: white;
// }

// #footerFaleConosco button {
//     margin-top: 10px;
//     background-color: #337d84; 
//     border: none; 
//     color: white;
//      width: 90px;
// }

// .footer {
//     width: 100vw;
//     margin-top: 50px;
//     height: 290px;
//     background-color: #021a24;
//     margin: 0 auto;
// }
// .footer .footerBoxes {
//     color: #ffffff;
//     font-family: 'Lato', sans-serif;
//     font-size: 13px;
//     padding-left: 150px;
//     margin: 0 auto;
//     height: 290px;
//     margin-top: 50px;
// }
// .footer .footerBoxes #footerSaibaMais {
//     height: 120px;
//     width: 60%;
//     border-bottom: 1px solid #337d84;
//     margin-top: 50px;
// }
// .footer #footerLocal {
//     height: 200px;
//     width: 60%;
//     margin-top: 50px;
// }
// .footer #footerLocal .linha {
//     border-bottom: 1px solid #0f343d;
//     height: 60px;
//     margin-bottom: 10px;
// }
// .footer #footerLocal .telefone span,
// .local span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     margin-left: 10px;
// }
// .footer #footerLocal .contato span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     color: #337d84;
//     margin-left: 10px;
// }
// .contatoUtil #contatoLocal {
//     height: 200px;
//     width: 60%;
//     font-family: 'Lato', sans-serif;
//     margin-left: 250px;
// }
// .contatoUtil #contatoLocal .linha {
//     border-bottom: 1px solid #ccc;
//     height: 60px;
//     margin-bottom: 10px;
// }
// .contatoUtil #contatoLocal .telefone span,
// .local span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     margin-left: 10px;
//     font-size: 14px;
//     color: #9E9E9E;
//     font-weight: bold;
// }
// .contatoUtil #contatoLocal .contato span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     color: #337d84;
//     margin-left: 10px;
// }
// .servicosOferecidos .servicosOferecidosHeader {
//     width: 80%;
//     height: 335px;
//     margin: 0 auto;
// }*/

