.navbar {
    font-family: 'Montserrat', sans-serif;
    height: 80px; 
    border: none; 
    background-color: #fff;
    #navbar{
	    li{
	    	a{
	    		color: #021a24;
	    	}
	    }
    }

    .navbar-brand {
    	img{
    		height: 60px; width: auto;
    	}
	    
	}

	.navbar-toggle{
		margin-top:25px!important;
	}

	.navbar-collapse {
	    margin-top: 20px; 
	    background-color: #fff;
	}

	.navbar-collapse {

		ul{
			font-size: 1em; 
	    	font-weight: bold;
		}
	    
	}

	.navbar-collapse {
		ul{
			li{
				margin-left : -5px;
			}
		}
	    
	}


}
