

#servicosOferecidos {
	
	margin: 60px 0;
	
	.main-text{

		.main{
	    	color: #021a24;
		    font-family: 'Roboto', sans-serif;
		    font-size: 33px;
		}

		.sub{
		    color: #9b9b9b;
		    max-width: 600px;
		    font-size: 16px;
		    font-weight: 300;
		    margin-top: 10px;
		    margin-bottom: 50px;
		    font-family: 'Roboto', sans-serif;
		}
	}
    
	
	

	.media{
		margin-left: 5px;

		.media-left {
			.box-img {
			    width: 85px;
			    border-radius: 50%;
			    border: 2px solid #7d8189;
			    height: 85px;
			    background-size: cover;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			}
		}
		.media-body {
			h4 {
			    font-family: 'Open Sans', sans-serif;
			    font-size: 15px;
			    font-weight: bold;
			}

			p {
			    font-size: 0.9em;
			    font-family: 'Open Sans', sans-serif;
			    margin-top: 10px;
			    color: #9b9b9b;
			    font-weight: 600;
			}

			.saibaMaisTexto {
			    font-size: 11px !important;
			}
		}
	}

}

.main-content-services{
	max-width: 650px;
	display: block;
	margin:0 auto;
}
.servicosDescricao{
	font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: italic;
}

.thumbnail{
	font-family: 'Lato', sans-serif;
	margin-top: 50px;
	// img{
	// 	max-height: 300px;
	// }
	.caption{
		border-top: 2px solid yellow;
		a{
			background-color: #308991;
		}
	}
}





