@charset "UTF-8";
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.navbar {
  font-family: 'Montserrat', sans-serif;
  height: 80px;
  border: none;
  background-color: #fff; }
  .navbar #navbar li a {
    color: #021a24; }
  .navbar .navbar-brand img {
    height: 60px;
    width: auto; }
  .navbar .navbar-toggle {
    margin-top: 25px !important; }
  .navbar .navbar-collapse {
    margin-top: 20px;
    background-color: #fff; }
  .navbar .navbar-collapse ul {
    font-size: 1em;
    font-weight: bold; }
  .navbar .navbar-collapse ul li {
    margin-left: -5px; }

.btn-serv {
  color: #fff;
  background-color: #337d84;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

#servicosOferecidos {
  margin: 60px 0; }
  #servicosOferecidos .main-text .main {
    color: #021a24;
    font-family: 'Roboto', sans-serif;
    font-size: 33px; }
  #servicosOferecidos .main-text .sub {
    color: #9b9b9b;
    max-width: 600px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif; }
  #servicosOferecidos .media {
    margin-left: 5px; }
    #servicosOferecidos .media .media-left .box-img {
      width: 85px;
      border-radius: 50%;
      border: 2px solid #7d8189;
      height: 85px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    #servicosOferecidos .media .media-body h4 {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      font-weight: bold; }
    #servicosOferecidos .media .media-body p {
      font-size: 0.9em;
      font-family: 'Open Sans', sans-serif;
      margin-top: 10px;
      color: #9b9b9b;
      font-weight: 600; }
    #servicosOferecidos .media .media-body .saibaMaisTexto {
      font-size: 11px !important; }

.main-content-services {
  max-width: 650px;
  display: block;
  margin: 0 auto; }

.servicosDescricao {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic; }

.thumbnail {
  font-family: 'Lato', sans-serif;
  margin-top: 50px; }
  .thumbnail .caption {
    border-top: 2px solid yellow; }
    .thumbnail .caption a {
      background-color: #308991; }

#atuacao {
  padding: 20px 0px; }
  #atuacao .atuacao-text .main-a {
    color: #021a24;
    font-family: 'Roboto', sans-serif;
    font-size: 33px; }
  #atuacao .atuacao-text .sub {
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif; }
  #atuacao span {
    color: #337d84; }
    #atuacao span .checkIconTexto {
      font-family: 'Roboto', sans-serif;
      color: #000; }
  #atuacao .img-atuacao {
    max-height: 550px;
    width: 50%;
    margin-bottom: -20px;
    margin-top: -150px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 1180px) {
      #atuacao .img-atuacao {
        display: none; } }

@media screen and (max-width: 1180px) {
  .hide-1180 {
    display: none; } }

/*!
 *
 * New Force @2017
 *
 */
body {
  overflow-x: hidden; }

hr {
  clear: both;
  width: 15%;
  margin: 0 auto;
  background-color: #337d84;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px; }

.tituloPagina {
  text-align: center;
  height: 40px;
  width: 250px;
  margin: 0 auto; }

.tituloPagina h3 {
  font-size: 15px;
  color: #337d84;
  font-weight: bold; }

/* CAROUSEL */
.slideNote {
  background: #337d84;
  font-family: 'Roboto', sans-serif;
  background: -moz-linear-gradient(225deg, transparent 30px, #337d84 30px);
  background: -o-linear-gradient(225deg, transparent 30px, #337d84 30px);
  background: -webkit-linear-gradient(225deg, transparent 30px, #337d84 30px);
  position: relative;
  height: 175px;
  width: 360px;
  margin-left: -95px;
  margin-bottom: 90px; }

.slideNote h1 {
  font-size: 30px;
  font-weight: 200;
  color: white;
  padding-top: 20px; }

.slideNote h4 {
  color: white;
  font-weight: 200;
  font-size: 15px;
  width: 350px; }

.carousel-inner {
  margin: 0 auto; }

.carousel-inner .item img {
  width: 100%;
  height: auto;
  max-height: 430px; }

/* END CAROUSEL */
/* INDEX PAGE */
#bg-servicos {
  min-height: 100%;
  padding: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative; }
  #bg-servicos .text-services {
    min-height: 380px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 20px;
    top: 125px;
    width: 44%;
    height: auto;
    padding: 80px 20px; }
    @media screen and (max-width: 1280px) {
      #bg-servicos .text-services {
        top: 45px;
        width: 50%; } }
    #bg-servicos .text-services .main-text {
      color: #fff;
      font-size: 27px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
    #bg-servicos .text-services .sub-text {
      font-size: 17px;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      color: #a9a9a9; }
    #bg-servicos .text-services .min-text {
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      color: #a9a9a9; }
  @media screen and (max-width: 1110px) {
    #bg-servicos {
      display: none; } }

#bg-servicos-mob {
  display: none; }
  @media screen and (max-width: 1110px) {
    #bg-servicos-mob {
      display: block;
      padding: 30px;
      background-color: #021a24; }
      #bg-servicos-mob .main {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 33px; }
      #bg-servicos-mob .sub {
        color: #9b9b9b;
        font-size: 16px;
        font-weight: 300;
        margin: 10px 0;
        font-family: 'Roboto', sans-serif; } }

.imgServicos {
  background-image: url("img/imagem1.png");
  height: 400px;
  margin-left: 600px;
  background-repeat: no-repeat;
  margin-top: 15px;
  background-size: contain; }

.saibaMais {
  font-family: 'Open Sans', sans-serif;
  min-height: 160px;
  padding: 15px 5px;
  background-color: #337d84; }
  .saibaMais h1 {
    color: #fff;
    font-size: 32px; }
  .saibaMais h4 {
    color: #fff;
    font-size: 17px; }
  .saibaMais a {
    color: #021a24;
    margin-top: 5px; }
  .saibaMais .btn-more {
    background-color: #021a24;
    color: #fff;
    margin-top: 45px; }
    .saibaMais .btn-more:hover {
      color: #fff; }

.clientesParent {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px; }

.center {
  display: flex;
  justify-content: center; }

#estrutura {
  background-color: #e0c631;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.44); }

.box .estruturaFoto {
  left: -15px;
  height: 100%;
  border-radius: 3px;
  background-image: url("../images/estrutura_01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.center .segurancaFoto {
  background-image: url("../images/seguranca.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#seguranca {
  margin: 20px 0; }

.center .segurancaInfo p {
  width: 90%;
  padding-left: 20px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 25px;
  font-style: italic;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif; }

.box .estruturaInfo {
  right: -15px;
  height: 100%;
  background-color: #fff; }

.box .estruturaInfo h3 {
  width: 100%;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #337d84;
  font-weight: bold; }

.jumbotron h3 {
  font-family: 'Montserrat', sans-serif;
  color: #337d84;
  font-weight: bold; }

.jumbotron p {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word; }

.estruturaInfra {
  width: 90%;
  margin-left: -30px; }

.about p {
  padding: 10px;
  line-height: 25px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  text-justify: inter-word; }

.box-overlay {
  height: 300px;
  width: 500px;
  background-color: yellow; }

.img-overlay img {
  width: 100%;
  height: auto;
  max-height: 430px; }

.img-overlay::after {
  display: block;
  position: relative;
  background-color: rgba(164, 207, 239, 0.5);
  margin-top: -430px;
  height: 430px;
  max-width: 1400px;
  content: ''; }

.obrasDescricacao {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic; }

.clienteDescricao {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic; }

.obraImagem {
  margin: 0 auto;
  width: 100vw;
  max-width: 1400px; }

.areaAtuacaoBox {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px; }

.atuacaoBox {
  height: 380px;
  margin-left: 150px;
  width: 500px;
  float: left; }

.atuacao {
  width: 250px;
  height: 280px;
  float: left; }

.boxesServico {
  width: 95%;
  height: 185px;
  margin: 0 auto;
  float: center;
  padding-left: 20px; }

.boxServico {
  max-width: 32%;
  height: 150px;
  float: left;
  max-width: 300px;
  margin: 0 auto;
  margin-left: 10px; }

.saibaMaisBox {
  max-width: 70%;
  height: 160px;
  float: left; }

.atuacaoBox p {
  width: 450px;
  color: #9b9b9b;
  font-family: 'Roboto', sans-serif; }

.atuacaoBox h1 {
  color: #021a24;
  font-family: 'Roboto', sans-serif;
  font-size: 33px; }

/* END INDEX */
/* BODY (TAMANHO DE WRAPPER)*/
.clientesBody {
  min-height: 800px; }

.eticaBody {
  min-height: 650px; }

.obrasBody {
  min-height: 1000px; }

.qsmsBody {
  min-height: 90vh; }

.sobreBody {
  margin: 50px 0; }

/* END BODY */
/* CLIENTES PAGE */
.clientes .imgBox {
  width: 1100px;
  height: 400px;
  float: left;
  padding-top: 10px; }

.clientes .imgBox img {
  width: 200px;
  height: auto;
  float: left;
  margin-left: 25px;
  padding-top: 30px; }

.clientesBox {
  height: 100px; }

.clientes {
  height: 380px;
  width: 500px;
  float: left; }

.clientes p {
  width: 400px;
  color: #9b9b9b;
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }

.clientes h1 {
  color: #021a24;
  font-family: 'Roboto', sans-serif;
  font-size: 33px; }

#servicosClientes {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 0 auto; }

#servicosClientes h3 {
  font-size: 15px;
  color: #337d84;
  font-weight: bold; }

#cards .col-md-3 {
  margin-left: 20px;
  margin-top: 20px; }

/* END CLIENTES*/
/* ETICA PAGE */
#eticaTitulo {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 0 auto; }

#eticaTitulo h3 {
  font-size: 15px;
  color: #337d84;
  font-weight: bold; }

.etica {
  background: url("../images/hero_bg.png") no-repeat center center;
  background-size: cover;
  padding: 0;
  margin-top: 30px; }

.eticaHero {
  height: 200px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.2em;
  padding: 80px;
  background-color: rgba(15, 80, 84, 0.8); }

.eticaHero .col-md-10 {
  width: 68%; }

.eticaDescricao {
  color: #337d84;
  width: 65%;
  font-size: 14px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }

/* END ETICA */
/* CARDS */
#cards {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding-left: 120px;
  width: 80%;
  margin-top: 30px; }

#cards .col-md-2 {
  padding: 0;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  max-width: 223px !important;
  min-width: 223px !important; }

#cardsObrasServicos {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px; }

#cardsObrasServicos .col-md-2 {
  padding: 0;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  max-width: 223px !important;
  min-width: 223px !important;
  margin-left: 20px;
  margin-top: 20px; }

#cardsObrasServicos .card {
  position: relative; }

#cardsObrasServicos .card #card {
  height: 130px; }

#cardsObrasServicos .card #card p {
  z-index: 100;
  margin-top: -100px;
  color: #fff;
  font-size: 24px;
  font-weight: bold; }

#cardsObrasServicos .card-block {
  border-top: 2px solid yellow;
  width: 223px; }

#cardsObrasServicos .card-block #card-block {
  height: 88px; }

#cardsObrasServicos p {
  font-size: 11px;
  margin-top: 10px;
  padding: 5px; }

#cardsObrasServicos #cardDescricao {
  margin-left: 75px;
  padding-bottom: 50px; }

#cardsObrasServicos a {
  float: left;
  margin: 0 auto;
  background-color: #308991; }

#cardsServicos .col-md-2 {
  padding: 0;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
  max-width: 223px !important;
  min-width: 223px !important; }

#cards .col-md-3 img {
  width: 200px;
  height: auto; }

#cards .obra {
  max-width: 80% !important;
  background-color: yellow !important; }

.verTodos {
  height: 35px;
  width: 100%;
  bottom: 0;
  float: left;
  text-align: center; }

.verTodos button {
  float: center;
  width: 90px;
  background-color: #337d84; }

.atuacao .checkIcon {
  margin-top: 10px;
  color: #337d84; }

.atuacao .checkIconTexto {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #9b9b9b; }

.form-area #campos {
  float: right;
  font-size: 12px;
  color: #C7C7C7; }

.panel-heading {
  text-align: center; }

.panel-default {
  margin-left: 20px; }

.panel-heading h3 {
  font-size: 18px;
  font-weight: bold;
  color: #337d84; }

.panel-heading p {
  color: #337d84;
  margin-top: 5px;
  font-size: 12px; }

.list-group-item {
  height: 50px; }

/* QSMS */
#qsmsTitulo {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 0 auto; }

#qsmsTitulo h3 {
  font-size: 15px;
  color: #337d84;
  font-weight: bold; }

.qsms {
  background: url("../images/hero_bg.png") no-repeat center center;
  background-size: cover;
  padding: 0;
  margin-top: 30px; }

.qsmsHero {
  height: 300px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: rgba(15, 80, 84, 0.85);
  line-height: 220%; }

.qsmsHero p {
  font-size: .8em; }

.qsmsHero i {
  color: #308F99;
  font-size: 1.4em; }

.qsmsHero .col-md-10 {
  padding-top: 20px;
  width: 68%; }

.qsmsDescricao {
  color: #9b9b9b;
  width: 65%;
  font-size: 12px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }

.qsmsDescricao img {
  height: 60px;
  width: auto;
  margin-bottom: 10px; }

.qsmsDescricao span {
  font-size: 1em;
  color: #337d84;
  font-family: 'Montserrat', sans-serif; }

.qsmsDescricao .col-md-12 {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

/* END QSMS */
/*
*
* COMEÇO MEDIA QUERYS
*
*/
@media screen and (min-width: 320px) and (max-width: 736px) {
  /* ETICA */
  .eticaDescricao {
    color: #337d84;
    width: 95% !important;
    font-size: 14px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; }
  .eticaHero {
    padding: 0;
    padding-top: 50px; }
  .eticaHero .col-md-10 {
    width: 100%; }
  /* END ETICA */
  .contatoUtil {
    display: none; }
  .servicosOferecidos {
    width: 100%;
    height: 800px;
    padding-top: 20px; }
  .atuacaoBox {
    margin-left: 10px !important; }
  .atuacaoBox p {
    width: 330px !important;
    color: #9b9b9b;
    font-family: 'Roboto', sans-serif; }
  .atuacaoBox h1 {
    color: #021a24;
    font-family: 'Roboto', sans-serif;
    font-size: 33px; }
  .atuacao {
    margin-left: 60px !important;
    font-size: 30px;
    height: 470px !important; }
  #cards {
    padding-left: 0 !important;
    height: 900px; }
  .servicosOferecidos .servicosOferecidosHeader p {
    max-width: 600px; }
  .boxesServico {
    padding-top: 35px; }
  .boxesServico button {
    height: 50px !important;
    width: 250px !important;
    margin-top: 20px !important; }
  .obraImagem {
    padding-top: 150px !important; }
  .boxServico {
    clear: both;
    width: 100%;
    margin-left: -10px !important;
    margin-top: 50px !important; }
  .imgServicos {
    display: none; }
  .slideNote {
    margin-bottom: -30px !important;
    height: 100px !important;
    width: 40vw !important;
    margin-left: -20px !important; }
  .slideNote h1 {
    font-size: 10px !important;
    width: 35vw !important; }
  .slide h4 {
    padding-top: 5px !important;
    font-size: 9px !important;
    width: 35vw !important; }
  .img-overlay::after {
    display: block;
    position: relative;
    background-color: rgba(164, 207, 239, 0.3);
    margin-top: -130px;
    height: 130px;
    max-width: 1400px;
    content: ''; }
  .center {
    display: inherit !important;
    justify-content: auto !important; }
  .box .estruturaFoto {
    height: 200px !important;
    width: 307px !important; }
  .center .segurancaFoto {
    margin: 0 auto !important;
    height: 200px !important;
    width: 90% !important; }
  #estrutura {
    background-color: #fff; } }

.vaga-desc {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 10px; }

#clientes {
  margin-bottom: 60px;
  height: 45vh;
  padding-bottom: 10px; }
  #clientes .descricao {
    color: #9b9b9b;
    width: 65%;
    font-size: 13px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; }
  #clientes .main-text .main {
    color: #021a24;
    font-family: 'Roboto', sans-serif;
    font-size: 33px; }
  #clientes .main-text .sub {
    color: #9b9b9b;
    max-width: 600px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; }
  #clientes .img-set {
    width: auto;
    height: 65px;
    display: block;
    margin: 60px auto; }

.contatoForm {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px; }
  .contatoForm label {
    color: #ccc; }
  .contatoForm button {
    background-color: #337d84;
    width: 150px; }

.contato {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 0 auto; }

#contatoInfo {
  margin: 23px 0; }
  #contatoInfo .contato {
    margin-left: -15px; }
    #contatoInfo .contato span {
      font-family: 'Lato', sans-serif;
      margin-top: 10px;
      color: #337d84;
      margin-left: 10px; }
  #contatoInfo .linha {
    border-bottom: 1px solid #0f343d;
    height: 60px;
    margin-bottom: 10px; }
  #contatoInfo span {
    color: #7a7777;
    font-size: 13px;
    margin-top: 10px; }
  #contatoInfo .telefone span {
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: 10px; }
  #contatoInfo .local span {
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: 10px; }

.footer {
  margin-top: 20px;
  background-color: #021a24;
  padding: 20px 0;
  font-family: 'Lato', sans-serif; }
  .footer .m-top {
    margin: 50px 0; }
  .footer span {
    color: #337d84; }
  .footer p {
    color: #7a7777;
    font-size: 12px;
    margin-top: 10px; }
  .footer .saiba-text {
    color: #fff !important; }
  .footer a {
    color: #337d84;
    font-size: 12px;
    text-decoration: none; }
  .footer #footerFaleConosco .form-group {
    margin-top: 10px;
    margin-bottom: 2px; }
  .footer #footerFaleConosco .area {
    height: 75px !important;
    resize: none;
    border-radius: 1px;
    background-color: #868686;
    border: none;
    color: white; }
  .footer #footerFaleConosco .btn-footer {
    margin-top: 10px;
    background-color: #337d84;
    border: none;
    color: white;
    width: 100px; }
  .footer #footerFaleConosco .form-control {
    height: 35px;
    border-radius: 1px;
    background-color: #868686;
    border: none;
    color: white; }
  .footer #footerLocal .contato {
    margin-left: -15px; }
    .footer #footerLocal .contato span {
      font-family: 'Lato', sans-serif;
      margin-top: 10px;
      color: #337d84;
      margin-left: 10px; }
  .footer #footerLocal .linha {
    border-bottom: 1px solid #0f343d;
    height: 60px;
    margin-bottom: 10px; }
  .footer #footerLocal span {
    color: #7a7777;
    font-size: 13px;
    margin-top: 10px; }
  .footer #footerLocal .telefone span {
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: 10px; }
  .footer #footerLocal .local span {
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: 10px; }

/*/



// #footerFaleConosco .form-group {
//     margin-top: 10px; 
//     margin-bottom: 2px;
// }

// #footerFaleConosco .area {
//     width: 70%; 
//     height: 70px !important;
//     resize: none; 
//     border-radius: 1px; 
//     background-color: #868686; 
//     border: none; 
//     color: white;
// }

// #footerFaleConosco .form-control {
//     width: 70%;  height: 25px; border-radius: 1px;  background-color: #868686; border: none; color: white;
// }

// #footerFaleConosco button {
//     margin-top: 10px;
//     background-color: #337d84; 
//     border: none; 
//     color: white;
//      width: 90px;
// }

// .footer {
//     width: 100vw;
//     margin-top: 50px;
//     height: 290px;
//     background-color: #021a24;
//     margin: 0 auto;
// }
// .footer .footerBoxes {
//     color: #ffffff;
//     font-family: 'Lato', sans-serif;
//     font-size: 13px;
//     padding-left: 150px;
//     margin: 0 auto;
//     height: 290px;
//     margin-top: 50px;
// }
// .footer .footerBoxes #footerSaibaMais {
//     height: 120px;
//     width: 60%;
//     border-bottom: 1px solid #337d84;
//     margin-top: 50px;
// }
// .footer #footerLocal {
//     height: 200px;
//     width: 60%;
//     margin-top: 50px;
// }
// .footer #footerLocal .linha {
//     border-bottom: 1px solid #0f343d;
//     height: 60px;
//     margin-bottom: 10px;
// }
// .footer #footerLocal .telefone span,
// .local span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     margin-left: 10px;
// }
// .footer #footerLocal .contato span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     color: #337d84;
//     margin-left: 10px;
// }
// .contatoUtil #contatoLocal {
//     height: 200px;
//     width: 60%;
//     font-family: 'Lato', sans-serif;
//     margin-left: 250px;
// }
// .contatoUtil #contatoLocal .linha {
//     border-bottom: 1px solid #ccc;
//     height: 60px;
//     margin-bottom: 10px;
// }
// .contatoUtil #contatoLocal .telefone span,
// .local span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     margin-left: 10px;
//     font-size: 14px;
//     color: #9E9E9E;
//     font-weight: bold;
// }
// .contatoUtil #contatoLocal .contato span {
//     font-family: 'Lato', sans-serif;
//     margin-top: 10px;
//     color: #337d84;
//     margin-left: 10px;
// }
// .servicosOferecidos .servicosOferecidosHeader {
//     width: 80%;
//     height: 335px;
//     margin: 0 auto;
// }*/
